<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head th:replace="~{generic :: htmlheader}"></head>
    <body>
        <header th:replace="~{generic :: navigation}"></header>

        <!-- Content -->
        <main role="main" class="container">
            <h1 class="mt-5" th:text="${page.title}"></h1>
            <p class="lead" th:text="${page.introduction}?: ''"></p>
            <p th:text="${page.content}" th:unless="${#strings.isEmpty(page.content)}"></p>

            <form method="post" th:action="@{/akb/give-step1}" th:object="${akbDonationStep1}">
                <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                    <strong>Vult u alstublieft alle velden in</strong>
                </div>

                <th:block th:if="${donation != null}">
                    <div class="alert alert-info" role="alert">
                        Vorig jaar was het volgende bedrag toegezegd (EUR): <span th:text="${#numbers.formatDecimal(donation.amount, 1, 'POINT', 2, 'COMMA')}" />
                    </div>
                </th:block>

                <div class="form-group">
                    <label for="totalAmount">Voor de actie kerkbalans zeg ik een bedrag toe van (EUR):</label>
                    <input id="totalAmount" type="number" th:field="*{amount}" class="form-control" min="0.00" step="1.00" value="0.00" placeholder="Bedrag" />
                </div>
                <div class="form-group">
                    <label>Geef aan in welke maanden u het bedrag wilt betalen:</label>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" th:field="*{paymentMonths}" th:value="FEBRUARY" name="paymentMonths" id="paymentMonthsFebruary" />
                        <label class="form-check-label" for="paymentMonthsFebruary" th:text="#{month.FEBRUARY}">February</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" th:field="*{paymentMonths}" th:value="MARCH" name="paymentMonths" id="paymentMonthsMarch" />
                        <label class="form-check-label" for="paymentMonthsMarch" th:text="#{month.MARCH}">March</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" th:field="*{paymentMonths}" th:value="APRIL" name="paymentMonths" id="paymentMonthsApril" />
                        <label class="form-check-label" for="paymentMonthsApril" th:text="#{month.APRIL}">April</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" th:field="*{paymentMonths}" th:value="MAY" name="paymentMonths" id="paymentMonthsMay" />
                        <label class="form-check-label" for="paymentMonthsMay" th:text="#{month.MAY}">May</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" th:field="*{paymentMonths}" th:value="JUNE" name="paymentMonths" id="paymentMonthsJune" />
                        <label class="form-check-label" for="paymentMonthsJune" th:text="#{month.JUNE}">June</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" th:field="*{paymentMonths}" th:value="JULY" name="paymentMonths" id="paymentMonthsJuly" />
                        <label class="form-check-label" for="paymentMonthsJuly" th:text="#{month.JULY}">July</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" th:field="*{paymentMonths}" th:value="AUGUST" name="paymentMonths" id="paymentMonthsAugust" />
                        <label class="form-check-label" for="paymentMonthsAugust" th:text="#{month.AUGUST}">August</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" th:field="*{paymentMonths}" th:value="SEPTEMBER" name="paymentMonths" id="paymentMonthsSeptember" />
                        <label class="form-check-label" for="paymentMonthsSeptember" th:text="#{month.SEPTEMBER}">September</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" th:field="*{paymentMonths}" th:value="OCTOBER" name="paymentMonths" id="paymentMonthsOctober" />
                        <label class="form-check-label" for="paymentMonthsOctober" th:text="#{month.OCTOBER}">October</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" th:field="*{paymentMonths}" th:value="NOVEMBER" name="paymentMonths" id="paymentMonthsNovember" />
                        <label class="form-check-label" for="paymentMonthsNovember" th:text="#{month.NOVEMBER}">November</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" th:field="*{paymentMonths}" th:value="DECEMBER" name="paymentMonths" id="paymentMonthsDecember" />
                        <label class="form-check-label" for="paymentMonthsDecember" th:text="#{month.DECEMBER}">December</label>
                    </div>
                </div>

                <div class="form-group">
                    <label>Hoe betaalt u uw bijdrage?</label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" th:field="*{paymentType}" th:value="BANK_TRANSFER" name="paymentType" id="paymentTypeManual" />
                        <label class="form-check-label" for="paymentTypeManual">Ik geef zelf opdracht aan mijn bank</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" th:field="*{paymentType}" th:value="BANK_AUTOMATIC" name="paymentType" id="paymentTypeAutomatic" />
                        <label class="form-check-label" for="paymentTypeAutomatic">Per automatische incasso</label>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Volgende</button>
            </form>
        </main>

        <footer class="footer">
            <div class="container">
                <span class="text-muted" th:utext="${page.footer}?: ''"></span>
            </div>
        </footer>
    </body>
</html>