<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head th:replace="~{generic :: htmlheader}"></head>
    <body>
        <header th:replace="~{generic :: navigation}"></header>

        <!-- Content -->
        <main role="main" class="container">
            <h1 class="mt-5">Aanmaken nieuwe registratie</h1>

            <form method="post" th:action="@{/akb/admin/createRegistration}" th:object="${registration}">
                <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                    <strong>Vult u alstublieft alle velden in</strong>
                </div>

                <div class="form-group">
                    <label for="registration">Registratienummer:</label>
                    <input id="registration" type="text" th:field="*{registrationNumber}" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="salutation">Volledige aanhef:</label>
                    <input id="salutation" type="text" th:field="*{salutation}" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="street">Straat:</label>
                    <input id="street" type="text" th:field="*{street}" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="postalCode">Postcode:</label>
                    <input id="postalCode" type="text" th:field="*{postalCode}" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="city">Stad:</label>
                    <input id="city" type="text" th:field="*{city}" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="country">Land:</label>
                    <input id="country" type="text" th:field="*{country}" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="email">E-mail adres:</label>
                    <input id="email" type="text" th:field="*{email}" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="previousYearAmount">Bedrag voorgaand jaar:</label>
                    <input id="previousYearAmount" type="number" th:field="*{previousYearAmount}" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Hoe werd de bijdrage betaald?</label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" th:field="*{previousYearPaymentType}" th:value="BANK_TRANSFER" name="paymentType" id="paymentTypeManual" />
                        <label class="form-check-label" for="paymentTypeManual">Bank overschrijving</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" th:field="*{previousYearPaymentType}" th:value="BANK_AUTOMATIC" name="paymentType" id="paymentTypeAutomatic" />
                        <label class="form-check-label" for="paymentTypeAutomatic">Per automatische incasso</label>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Maak registratie aan</button>
            </form>
        </main>

        <footer class="footer">
            <div class="container">
                <span class="text-muted" th:utext="${page.footer}?: ''"></span>
            </div>
        </footer>
    </body>
</html>