<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head th:replace="~{generic :: htmlheader}"></head>
    <body>
        <header th:replace="~{generic :: navigation}"></header>

        <!-- Content -->
        <main role="main" class="container">
            <h1 class="mt-5" th:text="${page.title}"></h1>
            <p class="lead" th:text="${page.introduction}?: ''"></p>
            <p th:text="${page.content}" th:unless="${#strings.isEmpty(page.content)}"></p>

            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col" class="text-right">Registratie #</th>
                        <th scope="col">Naam</th>
                        <th scope="col">Adres</th>
                        <th scope="col">E-mail</th>
                    </tr>
                </thead>
                <tbody>
                    <th:block th:each="account : ${registrations}">
                        <tr>
                            <td scope="row" th:text="${account.registrationReferenceId}" class="text-right"></td>
                            <td scope="row" th:text="${account.fullName}"></td>
                            <td scope="row">
                                <span th:text="${account.address.street}">Street</span><br />
                                <span th:text="${account.address.postalCode}">Postal Code</span>&nbsp;
                                <span th:text="${account.address.city}">City</span><br />
                                <span th:text="${account.address.country}">Country</span><br />
                            </td>
                            <td scope="row"
                                th:text="${account.emailAddress}"></td>
                        </tr>
                    </th:block>
                </tbody>
            </table>
        </main>

        <footer class="footer">
            <div class="container">
                <span class="text-muted" th:utext="${page.footer}?: ''"></span>
            </div>
        </footer>
    </body>
</html>