<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head th:replace="~{generic :: htmlheader}"></head>
    <body>
        <header th:replace="~{generic :: navigation}"></header>

        <!-- Content -->
        <main role="main" class="container">
            <h1 class="mt-5" th:text="${page.title}"></h1>
            <p class="lead" th:text="${page.introduction}?: ''"></p>
            <th:block th:if="${page.htmlEncoded == true}">
                <p th:utext="${page.content}" th:unless="${#strings.isEmpty(page.content)}"></p>
            </th:block>
            <th:block th:if="${page.htmlEncoded == false}">
                <p th:text="${page.content}" th:unless="${#strings.isEmpty(page.content)}"></p>
            </th:block>

            <p>Geef <a th:href="@{/akb/give}">hier</a> uw bijdrage op voor dit jaar.</p>
        </main>

        <footer class="footer">
            <div class="container">
                <span class="text-muted" th:utext="${page.footer}?: ''"></span>
            </div>
        </footer>
    </body>
</html>