<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{generic :: htmlheader}"></head>

<body>

<div id="container" class="cls-container">

    <div id="bg-overlay" class="bg-img" style="background-image: url('/resources/img/bg-img-1.jpg');"></div>

    <div class="cls-content">
        <span th:text="'Message: ' + ${message}"></span>

        <table>
        <th:block th:each="donation : ${donations}">
            <tr>
                <td th:text="${donation}">Donatie</td>
            </tr>
        </th:block>
        </table>
    </div>
</div>
</body>
</html>