<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head th:replace="~{generic :: htmlheader}"></head>
    <body>
        <header th:replace="~{generic :: navigation}"></header>

        <!-- Content -->
        <main role="main" class="container">
            <h1 class="mt-5" th:text="${page.title}"></h1>
            <p class="lead" th:text="${page.introduction}?: ''"></p>

            <form method="post"  th:action="@{/akb/give-step2}" th:object="${akbDonationStep2}">
                <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                    <strong>Gaat u akkoord met de privacyvoorwaarden?</strong>
                </div>

                <div th:replace="~{generic :: akb-give-step-overview}"></div>

                <h4>Overmaken</h4>
                <p>
                Maak uw bijdrage overnaar rekeningnummer <th:span th:text="${akbDonationStep2.paymentInformation.bankAccountNumber}" /> ten
                    name van <th:span th:text="${akbDonationStep2.paymentInformation.creditorName}" />. Let op! Het is belangrijk dit rekeningnummer gebruikt. Vermeld bij uw betalingen registratienummer
                    <th:span th:text="${akbDonationStep2.paymentInformation.reference}" />.</p>
                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" th:field="*{agreePrivacyTerms}"
                               name="agreePrivacyTerms" id="agreePrivacyTerms">
                        <label class="form-check-label" for="agreePrivacyTerms">Ik ga akkoord met de <a href="/external/privacyvoorwaarden-ichthusgemeente.pdf">privacyvoorwaarden</a>.</label>
                    </div>
                </div>
                <br /><br />
                <a th:href="@{/akb/give}" class="btn btn-default">Wijzig bijdrage</a>
                <button type="submit" class="btn btn-primary">Akkoord</button><br />
            </form>
        </main>

        <footer class="footer">
            <div class="container">
                <span class="text-muted" th:utext="${page.footer}?: ''"></span>
            </div>
        </footer>
    </body>
</html>