<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head th:replace="~{generic :: htmlheader}"></head>
    <body>
        <header th:replace="~{generic :: navigation}"></header>

        <!-- Content -->
        <main role="main" class="container">
            <h1 class="mt-5" th:text="${page.title}"></h1>
            <p class="lead" th:text="${page.introduction}?: ''"></p>

            <form method="post"  th:action="@{/akb/give-step2}" th:object="${akbDonationStep2}">
                <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                    <strong>Gaat u akkoord met de privacyvoorwaarden?</strong>
                </div>

                <div th:replace="~{generic :: akb-give-step-overview}"></div>

                <h2>Machting voor automatische incasso (SEPA)</h2>
                <p>
                    Door akkoord te geven op dit formulier geeft u toestemming aan het <th:span th:text="${akbDonationStep2.paymentInformation.creditorName}" />
                    om het door u aangegeven bedrag te incasseren voor <th:span th:text="${akbDonationStep2.paymentInformation.paymentReason}" />.<br /><br />De bedragen
                    worden rond de <th:span th:text="${akbDonationStep2.paymentInformation.dayOfMonth}" />e van de gekozen maanden van uw rekening afgeschreven.<br />
                    Het incassant ID is <th:span th:text="${akbDonationStep2.paymentInformation.creditorId}" />.<br />
                    Het kenmerk van de machtiging is <th:span th:text="${akbDonationStep2.paymentInformation.mandateReference}" />.</p>

                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" th:field="*{agreePrivacyTerms}"
                               name="agreePrivacyTerms" id="agreePrivacyTerms">
                        <label class="form-check-label" for="agreePrivacyTerms">Ik ga akkoord met de <a href="/external/privacyvoorwaarden-ichthusgemeente.pdf">privacyvoorwaarden</a>.</label>
                    </div>
                </div>

                <a th:href="@{/akb/give}" class="btn btn-default">Wijzig bijdrage</a>
                <button type="submit" class="btn btn-primary">Akkoord</button><br />
            </form>
        </main>

        <footer class="footer">
            <div class="container">
                <span class="text-muted" th:utext="${page.footer}?: ''"></span>
            </div>
        </footer>
    </body>
</html>