<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="htmlheader">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title th:text="${page.title}?: ''"></title>

        <link th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet">
        <link th:href="@{/resources/css/main.css}" rel="stylesheet">
        <script th:src="@{/resources/js/jquery-3.3.1.min.js}"></script>
        <script th:src="@{/resources/js/bootstrap.min.js}"></script>
    </head>

    <header th:fragment="navigation">
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="/">AKB</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/akb/welcome}">Welkom <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/akb/give}">Uw bijdrage <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <div th:fragment="akb-give-step-overview" class="alert alert-success" role="alert">
        <h4 th:text="${page.content}" th:unless="${#strings.isEmpty(page.content)}"></h4>
        <p>
            <span th:text="${akbDonationStep1.akbPersonRegistration.salutation}" /><br />
            <span th:text="${akbDonationStep1.akbPersonRegistration.address}" />
            <span th:text="${akbDonationStep1.akbPersonRegistration.postalCode}" />&nbsp;<span th:text="${akbDonationStep1.akbPersonRegistration.city}" />
        </p>
        <table>
            <tr><th>Bedrag (EUR):</th><td th:text="${#numbers.formatDecimal(akbDonationStep1.amount, 1, 'POINT', 2, 'COMMA')}" /></tr>
            <tr><th>Registratienummer:</th><td th:text="${akbDonationStep1.akbPersonRegistration.registrationNumber}" /></tr>
            <tr><th>Uw IBAN-nummer:</th><td th:text="${akbDonationStep1.akbPersonRegistration.bankAccountNumber}" /></tr>
            <th:block th:each="month : ${akbDonationStep1.allMonths}">
                <tr><th th:text="${month}"></th><td style="text-align: right;" th:text="${#numbers.formatDecimal(akbDonationStep1.calculateAmountByMonth(month), 1, 'POINT', 2, 'COMMA')}" /></tr>
            </th:block>
        </table>
    </div>
</html>